html{
background:blue;
max-height:900 px;
max-length:1920 px;
}

body{
color:green;
background:f47721;
}
head{
color:7d3f98;
background:black;
}
table{
color:brown;
background:green;

}
h5{
margin=30%
color:dark;

}
a{
color:000000;
}
input{
height=400px;
width=400px;
}
h6{
color:green;

position:centre;
}
h3{color:read;
 
text-align:center;
}
table{
color:062f3c;
}
